
.stack:after{
    content: "";
    display: table;
    clear: both;
}
.col-1{
    display: inline-block;
    text-align: left;
}
.col-2{
    text-align: left;
    
    
}
.stack{
    column-count: 2;
    column-gap: 2%;
    
}

.tech-tools{
    display: inline-block;
    text-align: left;
    
}


.about{
    display: inline-block;
    text-align: justify;
    padding: 1em;

}
.abt-page{
    max-width: 100%;
    overflow: hidden;
    
    
}
.resume-link{
    text-decoration: none;
    color: black;
}
.resume{
    height: 40px;
    width: 120px;
    padding: 2px;
    border-radius: 10px;
    border: none;
    background-color: rgb(163, 200, 232);
    box-shadow:  5px 10px 10px #373432,
                -5px -5px 10px #e8ebec;
    margin-bottom: 10px;
    font-family: Georgia;

}

@media only screen and (max-width: 800px) {
    .abt-page{
        
        overflow-x: hidden !important;
        
        
    }
    .about{
        padding: 1em;
    }
}